* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, serif;
    color: #030305;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/RobotoBold.ttf');
    font-weight: bold;
}

.header {
    border-bottom: 1px solid #E5E5E5;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-flex {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 113px;
}

.logo img {
    vertical-align: bottom;
}

.menu {
    margin-left: 244px;
}

.menu ul {
    gap: 115px;
    display: flex;
    list-style: none;
}

.menu-link {
    text-decoration: none;
    font-size: 15px;
    color: #030305;
}

.menu-link:hover {
    border-bottom: 1px solid #030305;
    transition: .3s;
}

.main {
    background-image: url('../images/background.png');
    background-position: center;
    background-size: cover;
    padding: 105px 0 154px 0;
}

.main-title {
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    max-width: 855px;
    margin-bottom: 40px;
}

.main-text {
    font-size: 16px;
    line-height: 130%;
    max-width: 502px;
    margin-bottom: 40px;
}

.button {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 334px;
    height: 64px;
    background: #030305;
    border: 0;
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    background: #5D5D5F;
}

.car-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding-top: 40px;
    gap: 24px;
}

.car-item {
    transition: .3s;
    max-width: 384px;
    text-align: center;
}

.car-item img {
    vertical-align: bottom;
    margin-bottom: 11px;
}

.car-item button {
    width: 100%;
    height: 54px;
}

.car-item:hover {
    box-shadow: 0 0 0 1px #5D5D5F;
}

.car-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px 15px;
}

.cub-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 116.6%;
    padding-top: 20px;
    margin-top: 80px;

}

.car-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 15px 0 17px 0;

}

.car-item-point {
    width: 110px;
    margin-bottom: 13px;
}

.car-item-point div:nth-child(2) {
    font-weight: 700;

}

.price-form {
    max-width: 344px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.price-form input {
    padding: 22px 18px;
    background: #FFFFFF;
    border: 1px solid #5D5D5F;
    font-size: 16px;
}

.price-text {
    font-size: 16px;
    line-height: 130%;
    color: #5D5D5F;
    padding: 20px 0 60px 0;
}

.price .container {
    position: relative;
    padding-bottom: 121px;
}

.price {
    overflow: hidden;
}

.price-image {
    max-width: 969px;
    position: absolute;
    left: 401px;
    bottom: 0;
}
.price .button {
    width: 100%;
}
.footer {

    padding: 36px 0;
    border-top: 1px solid #030305;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}